dateparser==0.7.0
Django==2.0.7
django-configurations==2.0
djangorestframework==3.8.2
oauthlib==2.1.0
psycopg2-binary==2.7.4
python-dateutil==2.7.3
pytz==2018.5
regex==2018.6.21
six==1.11.0
tzlocal==1.5.1
