<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{#    <form method="POST" class="viewform">{% csrf_token %}#}
{#        {{ form.as_p }}#}
{##}
{#        <button type="submit" name="_submit" class="btn btn-primary btn-lg">Submit</button>#}
{#    </form>#}

    <div class="ribbon ribbon-blue">

    </div>
    {% if error %}
        <div class="error">
            <h2 class="error">{{ error }}</h2>
        </div>
    {% endif %}
    <div class="ribbon-container">
        <div class="container main-content ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <section class="device-data col-lg-12">
                    <h2>Sign up</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Sign up</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
